[user]
name = gauthierseyzeriat
email = gseyzeriat1@gmail.com

[core]
editor = nvim
autocrlf = input
excludesfile = ~/.gitignore_global
pager = delta

[init]
defaultBranch = main

[pull]
	rebase = true

[push]
autoSetupRemote = true

[color]
ui = auto

[interactive]
diffFilter = delta --color-only

[delta]
features = moonfly
navigate = true
line-numbers = true
side-by-side = false

[merge]
conflictstyle = zdiff3

[diff]
colorMoved = zebra

[include]
path = ~/moonfly.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
