@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin: 0;
}

#workspaces button {
  color: @surface1;
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  font-size: 11px;
}

#workspaces button.active {
  color: @flamingo;
  border-radius: 1rem;
  font-size: 13px;
}

#workspaces button:hover {
  color: @overlay0;
  border-radius: 1rem;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.urgent {
  color: @red;
}

#window {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  color: @subtext0;
  font-style: italic;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin: 0;
}

#tray,
#backlight,
#clock,
#battery,
#wireplumber,
#network,
#cpu,
#memory {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  font-weight: bold;
}

#battery {
  color: @green;
  border-radius: 0;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    to { opacity: 0.4; }
}

#backlight {
  color: @yellow;
  border-radius: 0;
}

#wireplumber {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
}

#wireplumber.muted {
    color: @overlay0;
}

#network {
  color: @blue;
  border-radius: 0;
}

#network.disconnected {
  color: @red;
}

#cpu {
  color: @green;
  border-radius: 0;
}

#cpu.high {
  color: @red;
}

#memory {
  color: @sapphire;
  border-radius: 0;
}

#tray {
  margin-left: 1rem;
  border-radius: 1rem;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: alpha(@red, 0.2);
    border-radius: 6px;
}
